* {
    /* border: solid red 2px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2937;

}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8
}

a,
.subtext-header {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB
}

.links-top-right {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 24px;

}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
    margin-bottom: -14px;
}


.header-pt-1 {
    display: flex;
    justify-content: space-between;
    padding: 12px 350px 106px 350px;
}

.header-pt-2 {
    display: flex;
    justify-content: space-between;
    padding: 12px 350px 106px 350px;
    flex: 1 0 auto;

}

.header-pt-2-text {
    flex: 0 1 550px;
}

.button-top {
    background-color: #3882F6; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
}

.header-pt-2-image {
    display: flex;

    height: 300px;
    flex: 0 0 550px;
    justify-content: end;
}

.info-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.picture-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    height: 300px;
}

.prettypic {
    width: 150px;
    height: 150px;
    flex: 0 0 150px;
    border-radius: 10%;
    border: solid #3882F6 5px;

}

.subtext-row {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.img-subtext {

    width: 150px;
    height: 150px;
    flex: 0 0 150px;
    margin: 0 0 0 5px;
    padding: 0;
    color: #1F2937;
}

.pic-row-1,
.pic-row-2,
.pic-row-3,
.pic-row-4 {
    gap: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;

}


.quote-section {
    display: flex;
    background-color: #E5E7EB;
    align-items: center;
    flex-direction: column;
    height: 250px;
    justify-content: end;
    
   
}

.quote {
   
    width: 700px;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    margin: 0;

    
}

.quoted-person {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 5px 0 50px 400px;
    background-color: #E5E7EB;
    font-size: 24px;
    color: #1F2937;
    font-weight: 1000;
}

.call-to-action {

    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;

}

.box {

    display: flex;
    height: 150px;
    background-color: #3882F6;
    border-radius: 10px;
    flex: 0 1 1200px; 
    
}